onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=@biomejs/biome
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=less
onlyBuiltDependencies[]=nx
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
