# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/the_swagger_dev?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"

# App
PORT=4200
NODE_ENV=development

# Cookie
COOKIE_SECRET="your-cookie-secret-change-in-production"
